.button-whatsapp {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    background-color: #25d366;
    border-radius: 50%;
    width: 3.8rem;
    height: 3.8rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
}