<section class="instrutor">
    <div class="instructor__img"></div>

    <div class="instructor__content">
        <h2>Sobre o instrutor</h2>

        <p>Isaac Arts começou no ramo desde muito novo, ao 13 anos ele já estava fazendo seus primeiros cortes de cabelo e impressionando a rapaziada. E com muita garra ele correu atrás sonho dele e hoje além de ter sua própria barbearia com seus funcionários, ele ainda ensina milhares de pessoas a trilhar o caminho que levou ele ao sucesso. Sem dúvidas alguma o Isaac é a pessoa mais indicada para te ajudar a prosperar nesse ramo que a cada dia vem crescendo mais e mais.</p>

        <p>Então, meu mano, chegou a hora de mostrar a que veio! Saia da zona de conforto que lá tem tudo mastigadinho pra você aprender. Seu futuro está a um clique de distância!</p>

        <a href="https://pay.kiwify.com.br/SNBbF7k?afid=hqm946S8" target="_blank">Quero aprender com o Isaac</a>
    </div>
</section>