<section class="inside">
    <h2>Como é o curso por dentro</h2>
    <h3>Assista esse pequeno vídeo que mostra como é o curso por dentro</h3>

    <div class="inside__video">
        <iframe src="https://www.youtube.com/embed/PO6gBATZZ9E" title="Curso por dentro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <a href="https://pay.kiwify.com.br/SNBbF7k?afid=hqm946S8" target="_blank">Quero garantir minha vaga</a>
</section>