@use "../../../assets/styles/variables" as *;

.audience {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            font-weight: 400;
            font-family: $font-Gothic;
            font-size: 2rem;

            strong {
                font-family: $font-Gothic;
                font-weight: 400;
                letter-spacing: 1px;
                color: #ff0000;
            }
        }
    
        ul {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            font-size: 1.2rem;
            list-style: none;

            li {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }

    &-pro ul li div {
        color: #00ff00;
    }

    &-not ul li div {
        color: #ff0000;
    }

}