<section class="initial-banner">
    <h1>Você quer se tornar um barbeiro profissional?</h1>
    <h2>Uma coisa que notei em barbeiros que se destacam é que eles usam técnicas simples que passam despercebido por muitos. Neste curso te é ensinado, de maneira prática, técnicas que te botará na fileira dos que se destacam.</h2>
    <h2>Então se você tem uma máquina e muita força de vontade, você já deu o primeiro passo!</h2>

    <div class="initial-banner__video">
        <iframe src="https://www.youtube.com/embed/l7KbdO9FB7Q" title="Aula Gratuita!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <a href="https://pay.kiwify.com.br/SNBbF7k?afid=hqm946S8" target="_blank">Quero garantir minha vaga</a>
</section>